.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background: linear-gradient(to right, rgb(44, 95, 179),rgb(41, 158, 201));
}

.Navbar__brand {
  color: #ffffff;

  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 2em;
}