
main{
  background: linear-gradient(to right, rgb(44, 95, 179),rgb(41, 158, 201));
  font-family: "Roboto", sans-serif;
  color: white;
}

main #inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, rgb(44, 95, 179),rgb(41, 158, 201),white,white);
    background-size: 400% 400%;
    animation: Gradient 5s ease;
}

main #inicio #imgChozas{
  width: 150px;
}

main #inicio #imgChozas img{
  width: 100%;
}

main #inicio #titulo{
  font-size: 150%;
}

main #inicio #imgChozas,#titulo{
    opacity: 0.6;
}



@keyframes Gradient {
  0% {
    background-position: 100%
  }
  100% {
    background-position: 0%
  }
}