#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 20px;
  width: 70%;
  min-width: 300px;
}

.step1 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step2 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}