@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.Login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgb(44, 95, 179),rgb(41, 158, 201),white,white);
    background-size: 400% 400%;
    animation: Gradient 5s ease;
    .div__forms{
        width: 20rem;
    }
}

@keyframes Gradient {
    0% {
        background-position: 100%
    }

    100% {
        background-position: 0%
    }
}